@page "/"
@using KwakwaPl.Data
@inject NavigationManager _navManager

<h1>GROUPS:</h1>
@foreach (MessageGroup group in MessagesContainer.Groups)
{
    <button class="btn btn-primary" @onclick="() => SelectGroup(group.GroupName)">
        @(group.GroupName) <span class='oi @(group.PasswordSecured ? "oi-lock-locked" : "oi-lock-unlocked")' title='@(group.PasswordSecured ? "LOCKED" : "UNLOCKED")'></span>
    </button> <br />
}

@code {
    private async Task SelectGroup(string group = null)
    {
        int groupid = MessagesContainer.Groups.FindIndex(x => x.GroupName == group);
        _navManager.NavigateTo($"/messenger/{groupid}");
    }
}